*{
    margin:0px;
    padding:0px;
    list-style:none;
}
.wrap{
    width:490px;
    height:170px;
    margin:60px auto;
    overflow:hidden;
    position:relative;
}
.wrap ol{
    position:absolute;
    /*position:relative;*/
    right:5px;
    bottom:10px;
}
.wrap ol li{
    width:20px;
    height:20px;
    background:#ccc;
    border:1px solid #666;
    margin-left:5px;
    color:#000;
    float:left;
    line-height:20px;
    text-align:center;
    cursor:position;
}
.wrap ol .js-on,.wrap ol li:hover{
    color:#fff;
    background:#E97305;
}